.additional-goods {
  min-height: 958px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.additional-goods__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @goods__name;
  margin-left: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  margin-top: 25px;
  margin-bottom: 34px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 19vw;
    height: 3px;
    margin-top: calc(1em/2 + 3px);
    background-color: #68b738;
    z-index: -1;
    display: block;
    left: 247px;
  }
}

.additional-goods__gift {
  min-height: 364px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 20px;
  position: relative;
  display: flex;
  align-items: center;
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  &::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url("../img/icon-gift.svg");
    width: 55px;
    height: 60px;
    background-size: 55px 60px;
    top: 104px;
    right: 132px;
  }
}

.additional-goods__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @color-white;
  font-family: "Arial",sans-serif;
  width: 180px;
  margin-bottom: 0;
  margin-top: 151px;
  margin-left: 69px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .additional-goods {
    min-height: 1020px;
  }

  .additional-goods__title {
    font-size: 36px;
    line-height: 38px;
    width: 695px;
    margin: 0;
    padding-left: 63px;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 5vw;
      height: 3px;
      margin-top: calc(1em/2 + 3px);
      background-color: #68b738;
      z-index: -1;
      left: -12px;
    }

    &::after {
      left: 442px;
      width: 40vw;
    }
  }

  .additional-goods__gift {
    min-height: 345px;
    width: 708px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px 200px;
    background-position: 0;

    &::before {
      left: 92px;
      top: 137px
    }
  }

  .additional-goods__text {
    text-align: left;
    margin-left: 424px;
    margin-top: 0;
  }

  .additional-goods__wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .additional-goods {
    min-height: 566px;
    flex-direction: column;
  }

  .additional-goods__gift {
    height: 289px;
    min-height: 0;
    width: 245px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: 245px 289px;
    background-position: 0;
    margin: 0;
    margin-top: 80px;

    &::before {
      left: 93px;
      top: 65px;
    }
  }

  .additional-goods__wrapper {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }

  .additional-goods__text {
    margin-top: 145px;
    margin-left: 32px;
    text-align: center;
  }

  .additional-goods__title {
    width: 1220px;
    height: 38px;
    margin-top: 74px;
    padding-left: 0;

    &::before {
      z-index: -1;
      width: 17vw;
      display: block;
      left: -350px;
    }

    &::after {
      left: 372px;
      width: 61.5vw;
    }
  }
}
