.catalog {
  min-height: 1177px;
  border-top: 1px solid @border-nav;
  width: 100%;
}

.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @programm-span;
  text-align: left;
  margin: 0;
  margin-left: 20px;
  margin-top: 22px;
  margin-bottom: 39px;
}

.catalog__other-goods {
  min-height: 209px;
  border-top: 1px solid @border-nav;
  border-bottom: 1px solid @border-nav;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__title-other {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @goods__name;
  text-transform: uppercase;
  margin: 0;
  margin-top: 22px;
}

.catalog__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @advantage__text;
  font-family: "Arial",sans-serif;
  margin-top: 9px;
  margin-bottom: 21px;
}

.catalog__link-other {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @advantage__text;
  background-color: @btn-catalog__link;
  width: 280px;
  height: 39px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-top: 10px;
  display: inline-block;

  &:hover {
    background-color: @btn-catalog__hover;
  }

  &:active {
    opacity: 0.6;
  }
}

.catalog__img {
  margin-top: 27px;
  cursor: pointer;
}

.catalog__wrap {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .catalog {
    min-height: 2400px;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .catalog__wrap {
    width: @tablet-width;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 64px;
    width: @tablet-width;
    margin-top: 38px;
    margin-bottom: 26px;
    margin-left: 30px
  }

  .catalog__other-goods {
    height: 430px;
    width: 324px;
    border: 1px solid #e6e6e6;
    margin-top: 137px;
  }

  .catalog__img {
    width: 60px;
    height: 60px;
    margin-top: 54px;
    margin-left: 76px;
  }

  .catalog__title-other {
    font-size: 20px;
    line-height: 22px;
    width: 150px;
    margin-top: 48px;
    margin-left: 75px;
  }

  .catalog__text {
    font-size: 16px;
    line-height: 22px;
    width: 200px;
    margin-top: 20px;
    margin-left: 73px;
  }

  .catalog__link-other {
    width: 250px;
    margin-top: 60px;
    margin-left: 82px;
  }

  .catalog__wrapper {
    width: 250px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    min-height: 1270px;
  }

  .catalog__wrap {
    width: 1220px;
    padding-top: 44px;
    justify-content: space-between;
    align-items: flex-end;
  }

  .catalog__title {
    width: 1220px;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 45px;
  }

  .catalog__other-goods {
    min-height: 434px;
    width: 245px;
  }

  .catalog__wrapper {
    width: 245px;
  }

  .catalog__link-other {
    width: 170px;
    margin-left: 0;
  }

  .catalog__title-other {
    margin-left: 0;
  }

  .catalog__text {
    margin-left: 0;
  }

  .catalog__img {
    margin-left: 2px;
    margin-top: 58px;
  }
}
