.form {
  min-height: 1193px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__block {
  border: none;
  padding: 0;
  margin: 0;
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @color-black;
}

.form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-label;
}

.form__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @advantage__text;
  font-family: "Oswald","Arial",sans-serif;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @advantage__text;
  font-family: "Oswald","Arial",sans-serif;
}

.form__block--text {
  min-height: 174px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid @border-nav;
}

.form__input--text {
  width: 100%;
  height: 45px;
  border: 1px solid @border-nav;
  padding-left: 14px;
  padding-top: 6px;
  box-sizing: border-box;

  &:hover {
    border-color: @input-hover;
  }

  &:active {
    border: 2px solid @color-black;
  }
}

.form__item--text:nth-child(1) {
  margin-top: 7px;
}

.form__item--text {
  display: flex;
  margin-bottom: 14px;
}

.form__list--text {
  padding-right: 20px;
  padding-left: 20px;
  min-height: 174px;
}

.form__label--text {
  margin-right: 14px;
  padding-top: 14px;
}

.form__label--weight {
  width: 85px;
}

.form__label--age {
  width: 158px;
}

.form__wrapper__text {
  min-height: 174px;
}

.form__block--radio {
  min-height: 157px;
  border-bottom: 1px solid @border-nav;
}

.form__list--radio {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}

.form__item--radio {
  padding-left: 66px;
  padding-top: 3px;
  margin-bottom:16px;
  position: relative;
}

.form__input--radio {
  display: none;
  position: relative;
}

.form__input--radio + .form__label--radio::before {
  content: "";
  position: absolute;
  display: inline-block;
  border: 2px solid #e5e5e5;
  border-radius: 50px;
  margin: -5px 5px 0 -24px;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  left: 41px;
  top: 2px;
}

.form__input--radio:checked + .form__label--radio::after {
  border-radius: 50px;
  border: 1px solid #74bd48;
  height: 12px;
  width: 12px;
  background: #74bd48;
  left: 27px;
  top: 7px;
  position: absolute;
  content: "";
}

.form__bloсk--contacts {
  min-height: 230px;
  display: flex;
  flex-direction: column;
}

.form__legend--contacts {
  width: 280px;
  margin-left: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 29vw;
    height: 3px;
    bottom: 33px;
    right: -18px;
    background-color: #a4d488;
    z-index: -1;
  }
}

.form__label--contacts {
  margin-right: 6px;
  padding-top: 20px;
}

.form__list--contacts {
  padding-right: 20px;
  padding-left: 20px;
}

.form__item--contacts {
  display: flex;
  margin-bottom: 4px;
  position: relative;
}

.form__input--contacts {
  width: 100%;
  height: 43px;
  border: 1px solid @border-nav;
  margin-top: 8px;
  padding-left: 19px;
  position: relative;

  &:hover {
    border-color: @input-hover;
  }

  &:active {
    border: 2px solid @color-black;
  }
}

.form__svg--mail {
  width: 17px;
  height: 13px;
  position: absolute;
  top: 56%;
  right: 32px;
  transform: translate(100%,-50%);
  fill: #22222;

  &:active {
    fill: #a4d488;
  }
}

.form__svg--phone {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 56%;
  right: 32px;
  transform: translate(100%,-50%);
  fill: #222;
}

.form__input--contacts + .form__svg {
  &:active {
    fill: #a4d488;
  }

}

.form__label--email {
  width: 70px;
}

.form__block--textarea {
  min-height: 230px;
  padding-left: 20px;
  padding-right: 20px;
}

.form__textarea {
  width: 100%;
  height: 148px;
  border: 1px solid @border-nav;

  &:hover {
    border-color: @input-hover;
  }

  &:active {
    border: 2px solid @color-black;
  }
}

.form__legend--textarea {
  margin-top: 9px;
  margin-bottom: 36px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 44vw;
    height: 3px;
    bottom: 7px;
    right: -17px;
    background-color: #a4d488;
    z-index: -1;
  }
}

.form__textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @advantage__text;
  font-family: "Oswald","Arial",sans-serif;
  padding-top: 11px;
  padding-left: 14px;
  box-sizing: border-box;
}

.form__textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @advantage__text;
  font-family: "Oswald","Arial",sans-serif;
}

.form__block--checkbox {
  min-height: 240px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__legend--checkbox {
  margin-left: 20px;
  margin-top: 18px;
  margin-bottom: 34px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    width: 9vw;
    height: 3px;
    margin-top: calc(1em/2 + 3px);
    background-color: #68b738;
    z-index: -1;
    left: -110px;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 44vw;
    height: 3px;
    bottom: 7px;
    right: -17px;
    background-color: #a4d488;
    z-index: -1;
  }
}

.form__input--checkbox {
  display: none;
}

.form__label--checkbox {
  margin-left: 66px;
  position: relative;
}

.form__item--checkbox {
  margin-bottom: 19px;
}

.form__input--checkbox + .form__label--checkbox::before {
  content: "";
  position: absolute;
  display: inline-block;
  border: 1px solid #e5e5e5;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  left: -48px;
  top: -3px;
}

.form__input--checkbox + .form__label--checkbox:hover::before {
  border-color: @input-hover;
}

.form__input--checkbox + .form__label--checkbox:active::before {
  opacity: 0.6;
}

.form__input--checkbox:checked + .form__label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 19px 19px;
}

.form__text {
  min-height: 110px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
}

.form__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @color-white;
  background-color: @color-btn_goods;
  width: 100%;
  height: 40px;
  margin-top: 2px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;
  font-family: "Oswald","Arial",sans-serif;

  &:hover {
    background-color: @btn-header-hover;
  }

  &:active {
    color: #86c063;
  }
}

.form__span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @advantage__text;
  font-family: "Arial",sans-serif;
  margin-top: 23px;
}

@media (min-width: @tablet-width) {
  .form__block--text {
    min-height: 250px;
    border: none;
  }

  .form__input::placeholder {
    font-size: 20px;
    line-height: 22px;
  }

  .form__label {
    font-size: 20px;
    line-height: 22px;
  }

  .form__label--weight {
    width: 90px;
    margin-right: 14px;
  }

  .form__list--text {
    padding-right: 34px;
    padding-left: 44px;
  }

  .form__item--text {
    margin-bottom: 17px;
  }

  .form__input--text {
    height: 52px;
    padding-left: 18px;
    padding-top: 0;
  }

  .form__item--text:nth-child(1) {
    margin-top: 25px;
  }

  .form__item--text:nth-child(3) {
    margin-top: 22px;
  }

  .form__item--radio {
    padding-left: 83px;
    margin-bottom: 27px;
  }

  .form__block--radio {
    min-height: 196px;
    width: 630px;
    border: 1px solid #e6e6e6;
    margin-top: 40px;
    margin-left: 41px;
  }

  .form__list--radio {
    margin-left: 6px;
    margin-top: 28px;
  }

  .form__input--radio + .form__label--radio::before {
    width: 40px;
    height: 40px;
    top: -3px;
    left: 44px;
  }

  .form__input--radio:checked + .form__label--radio::after {
    height: 18px;
    width: 18px;
    left: 32px;
    top: 4px;
  }

  .form__bloсk--contacts {
    min-height: 315px;
  }

  .form__label--email {
    width: 92px;
    padding-left: 25px;
  }

  .form__label--phone {
    padding-left: 20px;
    margin-right: 16px;
  }

  .form__svg--mail, .form__svg--phone {
    right: 36px;
  }

  .form__legend--contacts {
    font-size: 36px;
    line-height: 38px;
    width: 550px;
    margin-top: 72px;
    margin-left: 40px;

    &::after {
      bottom: 13px;
      right: -147px;
      width: 20vw;
    }

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      width: 9vw;
      height: 3px;
      margin-top: calc(1em/2 + 3px);
      background-color: #68b738;
      z-index: -1;
      left: -110px;
    }
  }

  .form__list--contacts {
    margin-top: 70px;
    padding-right: 34px;
  }

  .form__input--contacts {
    height: 45px;
  }

  .form__item--contacts:nth-child(1) {
    margin-bottom: 15px;
  }

  .form__block--textarea {
    min-height: 340px;
    padding-right: 56px;
  }

  .form__legend--textarea {
    font-size: 36px;
    line-height: 38px;
    margin-top: 58px;
    margin-left: 24px;

    &:after {
      right: -77px;
      width: 60vw;
      bottom: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      width: 9vw;
      height: 3px;
      margin-top: calc(1em/2 + 3px);
      background-color: #68b738;
      z-index: -1;
      left: -110px;
    }
  }

  .form__textarea::placeholder {
    font-size: 20px;
    line-height: 22px;
  }

  .form__textarea {
    min-height: 173px;
    margin-top: 39px;
    margin-left: 22px;
    padding-left: 21px;
    padding-top: 14px;
  }

  .form__block--checkbox {
    min-height: 245px;
  }

  .form__legend--checkbox {
    font-size: 36px;
    line-height: 38px;
    margin-top: 61px;
    margin-left: 41px;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      width: 9vw;
      height: 3px;
      margin-top: calc(1em/2 + 3px);
      background-color: #68b738;
      z-index: -1;
      left: -110px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 56vw;
      height: 3px;
      bottom: 12px;
      right: -22px;
      background-color: #a4d488;
      z-index: -1;
    }
  }

  .form__list--checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 570px;
    min-height: 143px;
    margin-top: 64px;
    margin-left: 23px;
  }

  .form__item--checkbox {
    width: 230px;
  }

  .form__label--checkbox {
    margin-left: 81px;
  }

  .form__input--checkbox + .form__label--checkbox::before {
    width: 40px;
    height: 40px;
    top: -4px;
    left: -61px;
  }

  .form__text {
    flex-direction: row;
    margin-right: 60px;
    min-height: 123px;
  }

  .form__btn {
    width: 283px;
    height: 51px;
    font-size: 20px;
    line-height: 22px;
    margin-left: 23px;
    margin-top: 0;
  }

  .form__span {
    font-size: 16px;
    line-height: 18px;
    margin-top: 13px;
    margin-left: 62px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__block--text {
    min-height: 194px;
    width: 570px;
  }

  .form__list--text {
    padding-left: 0;
    padding-right: 0;
  }

  .form__item--text:nth-child(1) {
    margin-top: 38px;
  }

  .form__block--radio {
    height: 192px;
    width: 570px;
    margin-top: 38px;
  }

  .form__item--radio {
    margin-bottom: 23px;
  }

  .form__list--radio {
    margin-top: 30px;
  }

  .form__item--radio:nth-child(3) {
    margin-bottom: 0;
  }

  .form__label--weight {
    width: 91px;
  }

  .form__bloсk--contacts {
    min-height: 220px;
    width: 1220px;
  }

  .form__legend--contacts {
    margin-top: 51px;
    margin-left: 0;

    &::before {
      left: -176px;
    }
  }

  .form__list--contacts {
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }

  .form__item--contacts {
    width: 570px;
  }

  .form__label--phone {
    padding-left: 9px;
    margin-right: 16px;
  }

  .form__label--email {
    width: 77px;
    padding-left: 0;
    margin-right: 23px;
  }

  .form__item--contacts:nth-child(2) {
    margin-left: 70px;
    width: 580px;
  }

  .form__svg--phone {
    right: 38px;
    top: 50%;
  }

  .form__textarea {
    margin-left: 0;
  }

  .form__block--textarea {
    min-height: 320px;
    width: 1220px;
    padding-left: 0;
    padding-right: 0;
  }

  .form__legend--textarea {
    margin-left: 0px;
    margin-top: 51px;
  }

  .form__legend--checkbox {
    margin-left: 0;
  }

  .form__block--checkbox {
    height: 253px;
    width: 1220px;
  }

  .form__item--checkbox {
    width: 245px;
  }

  .form__label--checkbox {
    margin-left: 57px;
  }

  .form__list--checkbox{
    width: 1220px;
    margin-left: 4px;
  }

  .form__text {
    min-height: 134px;
    width: 1220px;
    padding-left: 0;
    margin-top: 4px;
  }

  .form__btn {
    width: 570px;
    margin-right: 80px;
    margin-left: 0;
    margin-top: 0;
  }

  .form__span {
    margin-left: 0;
    margin-top: 15px;
  }
}
