.page-header {
  min-height: 264px;
  width: 100%;
}

.page-header--index {
  min-height: 766px;
  width: 100%;
  background-color: @background-body;
}

.page-header__block {
  min-height: 64px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__img__logo {
  width: 33px;
  height: 38px;
  margin-top: 13px;
  margin-left: 21px;
}

.page-header__img__tablet {
  display: none;
}

.page-header__img {
  width: 101px;
  height: 18px;
  margin-top: 25px;
  margin-right: 18px;
}

.page-header__togle {
  border: none;
  width: 18px;
  height: 18px;
  background: transparent;
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.page-header__togle__close {
  width: 18px;
  height: 18px;
  margin-top: 24px;
}

.page-header__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 33px;
  color: @color-white;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  height: 110px;
}

.page-header__program-selection {
  min-height: 502px;
  background-image: linear-gradient(to top,#fff 195px,transparent 175px), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom,center bottom 195px;
  text-align: center;
  position: relative;
  background-color: @background-program-selection;
  position: relative;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(to top,#fff 195px,transparent 175px);
    background-size: 86% 307px;
    background-position: 28px 0;
    background-repeat: no-repeat;
  }
}

.page-header__logo__program-selection {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 270px;
  top: 165px;
}

.page-header__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @color-white;
  text-transform: uppercase;
  position: relative;
  margin-top: 14px;
}

.page-header__btn {
  display: inline-block;
  margin-top: 280px;
  width: 280px;
  height: 39px;
  background-color: @btn-header;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-white;
  text-transform: uppercase;
  padding-top: 12px;

  &:hover {
    background-color: @btn-header-hover;
  }

  &:active {
    color: #86c063;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .page-header--index {
    min-height: 950px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: transparent;
  }

  .page-header__wrapper {
    margin-left: auto;
    margin-right: auto;
    min-width: 752px;
    position: relative;
  }

  .page-header__img__logo {
    display: none;
  }

  .page-header__img {
    display: none;
  }

  .page-header__img__tablet {
    display: block;
    width: 173px;
    height: 58px;
    margin-top: 25px;
    margin-left: 30px;
  }

  .page-header__togle {
    display: none;
  }

  .page-header__block {
    width: 217px;
  }

  .page-header__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 62px;
    color: @color-black;
    padding-top: 56px;
    padding-left: 0;
    padding-right: 144px;
  }

  .page-header__slogan {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: @color-black;
    margin-top: 107px;
  }

  .page-header__program-selection {
    background-image: none;
    background-color: transparent;
    text-align: left;
    width: 709px;
    padding-left: 120px;
    box-sizing: border-box;
  }

  .page-header__btn {
    width: 245px;
    min-height: 51px;
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    margin-top: 21px;
  }

  .page-header__logo__program-selection {
    width: 699px;
    height: 609px;
    left: 37px;
    top: 258px;
    z-index: -1;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 100px;
  }

  .page-header--index {
    min-height: 696px;
    position: relative;

    &::before {
      content: "";
      display: block;
      background-image: url("../img/index-background-desktop@1x.jpg");
      width: 50%;
      background-position: 37px 0;
      background-color: #5eaa2f;
      height: 696px;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      bottom: 0;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: contain;
      }
    }
  }

  .page-header__img__tablet {
    width: 202px;
    height: 59px;
    margin-top: 53px;
    margin-left: 0;
  }

  .page-header__block {
    width: 245px;
  }

  .page-header__wrapper {
    min-width: 1220px;
  }

  .page-header__program-selection {
    padding-left: 81px;
    padding-top: 55px;
  }

  .page-header__logo__program-selection {
    width: 552px;
    height: 499px;
    left: 450px;
    top: 29px;
    z-index: 1;
  }

  .page-header__btn {
    padding-top: 17px;
  }
}
